<h1>State Water Data</h1>
<h2>Current River Condtions for <%=@river%> River</h2>
<p><b>State:</b> <%=@state%></p>
<p><b>River:</b> <%=@river%></p>
<p><b>County:</b> <%=@county%></p>
<p><b>Gauge Location:</b> <%=@gauge_location%></p>
<p><b>CFS:</b> <%=@cubic_feet_per_second%></p>
<p><b>Depth:</b> <%=@gauge_height%></p>


